.pokemonCard {
    display: flex;
    justify-content: space-between;
    gap: .5rem;
    align-items: center;
    flex-direction: column;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 1rem;
    border: 3px solid #E33D33;
    box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.5);
    padding: 0 2rem 1.5rem 2rem;
    height: 100%;
}

.pokemonCard p {
    margin-top: -1.6rem;
    font-weight: bold;
    background-color: #E33D33;
    border-radius: 0.5rem;
    padding: 0.4rem;
}

.pokemonCard h3 {
    text-transform: capitalize;
    font-size: 1.4rem;
}

.pokemonCard button {
    padding: .5rem 1rem;
    font-weight: 600;
    border-radius: .5rem;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    padding: .5rem;
    background-color: #E33D33;
    color: #F0F0F0;
    border: none;
    cursor: pointer;
    transition: .5s;
}

.pokemonCard button:active {
    box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.5);
}

@media (min-width: 400px) and (max-width: 799px) and (min-height: 700px) {
    .pokemonCard p {
        font-size: 1.5rem;
    }

    .pokemonCard h3 {
        font-size: 1.5rem;
    }

    .pokemonCard button {
        font-size: 1rem;
    }
}

@media (min-width: 800px) and (min-height: 900px) {
    .pokemonCard {
        height: 85%;
        padding-bottom: 3rem;
    }

    .pokemonCard p {
        font-size: 1.2rem;
    }

    .pokemonCard h3 {
        font-size: 2rem;
    }

    .pokemonCard button {
        font-size: 1.2rem;
    }
}