.footer {
    display: flex;
    justify-content: center;
    background-color: #333;
    height: 18vh;
    color: #f0f0f0;
    border-top: 2px solid #111;
}   

.footer p {
    margin-top: 3rem;
}

.footer span {
    font-weight: bold;
}