* {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
}

html, body {
  overflow: hidden;
}

.mainContainer {
  display: flex;
  justify-content: center;
  min-height: 75vh;
}
