.titleContainer {
    display: flex;
    align-items: center;
}

.titleContainer p {
    font-size: 3rem;
    font-weight: bold;
}

.titleContainer p:first-child {
    color: red;
}

.image {
    margin-left: 1rem;
}