.navBar {
  display: flex;
  height: 7vh;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: #f0f0f0;
  border-bottom: 2px solid #111;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.linkItems {
  display: flex;
  align-items: center;
  gap: 1rem;;
  list-style: none;
}

@media (max-width: 400px) {
  .linkItems {
    gap: .2rem;
  }
}

.linkItems li {
  transition: 0.2s;
}

.linkItems li:hover {
  transform: scale(1.2);
}

.link {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: #f0f0f0;
  padding: 0.2rem;
  cursor: pointer;
}
